body{
    margin: 0;
    padding: 0;
}
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(26, 19, 7));
}
.home{
    text-decoration: none;
}
h1.navbar-logo{

    justify-self: start;
    margin-left: 25px;
    color: white;
    margin-top: 54px;
    cursor: pointer;
}


.listadoProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(247, 243, 243);
}
ul.lista-productos{ 
    text-align: center;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 45px;
    
}
li{
    background-color: rgb(247, 243, 243);
    padding: 20px;
}
.plt{
    background-color:rgb(255, 184, 53) ;
    border-radius: 30px;
}
.ver-carrito{
    color:  white;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 45px;
    cursor: pointer;
}
.cantidad-carrito{
    background-color: orange;
    color: white;
    border-radius: 55%;
    font-size: 12px;
    padding: 5px;
    top:37px;
    right: 14px;
    position: absolute;
    display: none;
}

.eliminar-producto{
    cursor: pointer;
}

.sumar{
    cursor:pointer
}

.restar{
    cursor: pointer;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image:url(../img/pizza-pomodorini-Cambusa-Vada-960x640.jpg);
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}
.banner h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 70px;
    font-weight: bold;
}
.banner p{
    font-size: 40px;
    color: wheat;
    opacity: 0.8;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.descripcion{
    text-decoration: none;
    text-shadow: 20px;
    
}
.PlatosJson{
    color: black;
    text-shadow: 1px 1px 3px rgb(255, 192, 75);
}
.PlatosJson:hover{
    color: black;
    border-radius: 10px;
    background-color: rgb(184, 169, 40);
}

.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    background-color: rgb(247, 243, 243);
}
.descripcion{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-shadow: 1px 1px 3px rgb(148, 115, 115);
}
.card{
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card>img{
    width: 90%;
    height: 250px;
}

.price{
    color: darkgray;
    font-size: 22px;
}
.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color:white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.card button:hover{
    background-image: radial-gradient(rgb(128, 126, 0), rgb(68, 56, 33) );
}

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
}

.modal-header-title{
    justify-self: start;
}
.modal-header-button{
    cursor: pointer;
}
.modal-container>div>img{
    height: 110px;
    width: 110;
}
.modal-container> .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 8px;
}

.total-content{
    font-size: 30px;
    padding: 25px;
    text-align: center;
    padding-top: 25px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px;
}
.finCompra{
    border-radius: 5px;
    background-color: rgb(233, 212, 167);    
}

#cont-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px; 
    background-color: rgb(230, 224, 224);
}
img{
    align-items: center;
    align-self: center;
    height: 200px;
    width: 200px;
}
#btnTxt{
    margin: 30px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 30px;
    color: white;
}

@media screen and (max-width: 919px) {

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
}

.modal-header-title{
    justify-self: start;
    font-size: 20px;
}
.modal-header-button{
    cursor: pointer;
    font-size: 20px; 
}
.modal-container>div>img{
    height: 110px;
    width: 120px;
}
.modal-container> .modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    border: 2px solid beige;
}

.total-content{
    font-size: 25px;
    padding: 25px;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px;
}


}